.login-container {
    display: flex;
    justify-content: center;
    margin: 4rem;
}
.input-container {
    background-color: var(--white-color);
    gap: 1.5rem;
    width: 21rem;
    box-shadow: 0 5px 5px var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    padding: 2rem;
}

.login-container a:link {
    color: var(--primary-color);
    text-decoration: none;
}
a:visited {
    color: var(--black-color);
    text-decoration: none;
}
a:hover {
    color: var(--black-color);
    text-decoration: none;
    cursor: pointer;
}
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

.input-box span {
    color: red;
}
.input-box label {
    padding: 2px;
    font-size: 12px;
}
.input {
    padding: 7px;
    border-radius: 0.5rem;
    border: 1px solid var(--shadow-color);
    width: 100%;
    box-sizing: border-box;
}
.input-btn {
    padding: 8px;
    border-radius: 0.5rem;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    margin-top: 0.5rem;
}
.input-btn:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;
    border: 1px solid var(--primary-color);
}
.password a {
    font-size: 1rem;
    padding: 8px;
}
.input-box label {
    font-size: 1rem;
}
