@import url("https://radiantui.netlify.app/cards/cards.css");
@import url("https://radiantui.netlify.app/badges/badges.css");
@import url("https://radiantui.netlify.app/avatar/avatar.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@350&display=swap");

.card-container{
    padding: 1rem;
    padding-top: 2rem;
}
.card-items{
    justify-content: space-evenly;
}
.card-details{
    text-align: center;
}
.card-component{
    width: 22rem;
}
.bestseller-badge{
    font-size: 2rem;
    opacity: 0.8;
}