
/*cards*/
.product-cards{
    flex-grow: 2;
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--dark-grey-color);
    padding: 1rem;
}
.card{
    box-shadow: none;
    margin: 5px;
}
.card:hover{
    box-shadow: 0 5px 5px var(--shadow-color), 0 6px 20px 0 var(--shadow-color);;
}
.card-component{
    width: 17rem;
}
.card-img{
    height: 17rem;
}
.card-details{
    text-align: left;
}

:root{
    --shadow-color: #b8b8b3d2;
}
.container{
    padding: 1rem;
    gap: 2rem;
}
.component-container{
    padding: 2rem 4rem 2rem 2rem;
}
.component-details{
    padding: 1rem;
}

.card-examples{
    gap: 3rem;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-img{
    width: 100%;
    height: 17rem;
    position: relative;
}
.card-details{
    padding: 1rem;
    gap: 0.5rem;
}
.price{
    font-weight: 600;
}
.card-action-btn{
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 90%;
    margin: 1rem;
    margin-top: 0rem;
}

.card-action-btn:hover, .card-action-horizontal:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.bestseller-badge{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.dismiss{
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    padding: 1px;
    background-color: var(--shadow-color);
    cursor: pointer;
}

.text-overlay{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 1;
    background-color: var(--grey-color);
    opacity: 0.7;
}

.text-overlay h2{
    color: black;
    font-weight: 800;
    font-size: 3rem;
    z-index: 2;
}

.card-details-horizontal{
    width: 20rem;
    padding: 1.5rem;
    gap: 1rem;
}
.card-img-horizontal{
    width: 15rem;
    height: 100%;
}
.card-action-horizontal{
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}
