:root{
    --black-color: #111111c2;
    --primary-color: #cf0883;
    --grey-color: #F0F0F0;
    --dark-grey-color: #B8B8B8;
    --white-color:#fffafa;
    --bg-color: #fff3f0;
   }
   *{
       margin: 0;
       letter-spacing: 0.5px;
       font-family: 'Nunito', sans-serif;
   }
   body{
       background-color: var(--white-color);
   }
   
   .flex-flow-row{
       display: flex;
       flex-direction: row;
   }
   .wrap{
    flex-wrap: wrap;
   }
   .flex-flow-column{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;   
   }
   
   /*links*/
   a:link {
       color: var(--black-color);
       text-decoration: none;
       }
       a:visited {
       color: var(--black-color);
       text-decoration: none;
       }
       a:hover {
       color: var(--black-color);
       text-decoration: none;
       cursor: pointer;
       }
       a:active {
       color: var(--black-color);
       text-decoration: none;
   }
   
   /*navigation bar*/
   
   .navbar{
       padding: 1.5rem;
       box-shadow: 2px 5px 10px rgba(194, 192, 192, 0.7);
       background-color: var(--white-color);
       font-weight: 500;
   }
   .nav-items{
       justify-content: space-evenly;
   }
   .nav-item{
       text-align: center;
       font-size: 1.15rem;
       margin-top: 3px;
   }
   
   .search-container input[type=text] {
       padding: 5px;
       margin-left: -5px;
       font-size: 1rem;
       border: none;
       width: 27rem;
       background-color: var(--grey-color);
       border-top-right-radius: 0.5rem;
       border-bottom-right-radius: 0.5rem;
       color: var(--dark-grey-color);
     }
     
    .search-container button {
       padding: 5px 9px;
       background-color: var(--grey-color);
       border: none;
       cursor: pointer;
       color: var(--dark-grey-color);
       font-size: 1rem;
       border-top-left-radius: 0.5rem;
       border-bottom-left-radius: 0.5rem;
      
     }
     .search-container{
         border: 1px solid var(--dark-grey-color);
         border-radius: 0.5rem;
     }
   .nav-items-right{
       justify-content: space-evenly;
       gap: 2rem;
       margin-right: -2.5rem;
   }
   .nav-item img{
       padding: 0;
       margin-top: -0.5rem;
       margin: -0.5rem -1rem;
   }
   .nav-item i{
       color: var(--black-color);
   }