/*sidebar*/
.sidebar {
    min-width: 15rem;
}
.sidebar-item {
    border-top: 1px solid var(--dark-grey-color);
    padding: 1rem;
}

.sidebar-heading {
    margin: 1rem;
}
.radio-btns label,
input[type='radio'],
input[type='checkbox'],
h3 {
    margin: 0.5rem;
    display: inline-block;
}
.colors-container i {
    margin-right: 00.5rem;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.yellow {
    color: yellow;
}
.black {
    color: black;
}
.pink {
    color: pink;
}
.purple {
    color: purple;
}
