body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --black-color: #111111c2;
  --primary-color: #cf0883;
  --grey-color: #F0F0F0;
  --dark-grey-color: #B8B8B8;
  --white-color:#fffafa;
  --bg-color: #fff3f0;
  --shadow-color: #b8b8b3d2;
 }