
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@350&display=swap");
.section{
    padding: 2rem;
}
.main-container{
    position: relative;
}
.img-container{
    width: 100%; 
    object-fit: cover;
    height: 34rem;
}
.btn-container{
    text-align: center;
    background-color: var(--black-color);
    position: absolute;
    top: 37%;
    left: 37%;
    border-radius: 0.5rem;
}
.btn{
    margin: 4rem 9rem 4rem 9rem;
    padding: 0.5rem 1rem;
    opacity: 1;
    background-color: var(--white-color);
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 500;
}
.btn a:link{
    color: var(--primary-color);
}